.footer {
  color: $color-grey;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.footer__title {
  color: $color-white;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding-bottom: 24px;
}

.footer__address {
  letter-spacing: 0.5px;
}

.footer__text {
  letter-spacing: 0.2px;
}
