.item__title {
  font-size: 14px;
  font-family: $font-roboto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.item__text {
  width: 256px;
  font-size: 14px;
  font-family: $font-roboto;
  font-weight: 300;
  text-align: center;
  margin: auto;
}

.item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-repeat: no-repeat;
}
