.menu-nav__item {
  font-family: $font-roboto;
  font-size: 13px;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
}

.menu-nav__item--active {
  color: $color-ocean;
}
