.more {
  display: block;
  // width: 320px;
  border-color: $color-ocean;
  background-color: transparent;
  color: $color-ocean;
  font-family: $font-hammersmith;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.more:hover {
  color: $color-white;
  background-color: rgba(0, 224, 208, 0.5);
}
