.pictures {
  flex-flow: row wrap;
  align-items: stretch;
}

.pictures__item {
  box-sizing: border-box;
  width: 267px;
  height: 150px;
  flex-grow: 1;
}

.pictures__item--grey1 {
  background-color: #b6b6b6;
}

.pictures__item--grey2 {
  background-color: #acacac;
}

.pictures__item--grey3 {
  background-color: #a1a1a1;
}

.pictures__item--grey4 {
  background-color: #8a8a8a;
}
